<div class="board-wrapper">
    <div *ngFor="let row of board; let rowIndex=index" class="board-row">
        <div *ngFor="let item of row; let colIndex = index" class="board-item">
            <app-cone *ngIf="!isAvailableMove(colIndex, rowIndex); else available"
                      [currentColor]="item" [col]="colIndex" [row]="rowIndex"></app-cone>

            <ng-template #available>
                <div class="full-height" available-move>
                    <app-cone [currentColor]="item" [col]="colIndex" [row]="rowIndex"></app-cone>
                </div>
            </ng-template>

        </div>
    </div>
</div>